h1 {
    text-align: center;
    font-size: 120px;
    font-family: 'Bebas Neue', cursive;

    margin: 1px;
}

h2 {

    text-align: center;
}

h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    text-align: center;
    color: #000000;
    margin: 1px;
}

h4 {
    float: left;
    margin: 1px;
    font-size: 20px;
    position: absolute;
}


.cabecera {
    text-align: left;
    font-size: 7mm;
    margin-left: 60px;
    margin-right: 1px;

}

body {
    font-family: Roboto, sans-serif;
    border: 1px;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 5px;
    margin-bottom: 100px;
    font-weight: 900;
    letter-spacing: .045em
}

a {
    float: left;
}

b {
    float: left;
}

c {
    float: left;
}

d {
    float: left;
}

e {
    float: left;
}

f {
    float: left;
}


.mybody {
    background: linear-gradient(150deg, #ffffff, #8e95f3, #d199f6);
    background-size: 400% 300%;
    animation: BgGradient 10s ease infinite;
}

@keyframes BgGradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }

}

#home {
    background-color: transparent;
    border-radius: 15px;
}

#home ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

#home ul li {
    display: inline-block;
}

#home ul li a {
    border-radius: 16px;
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 10px 50px;
}

#home a:hover {
    background-color: #000000;
    color: white;
}

#mycanvas {

    margin-bottom: 0;
    border: 3px black;

    background-color: whitesmoke;

}


#imagen {

    position: absolute;
    right: 250px;
    top: 240px;

}

.grid {
    display: grid;
    grid-template-columns: 500px 500px;


}

.grid div {


    padding: 4px;
}

#Calcular {
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 20px;
    background: rgba(0, 206, 0, 0.56);
    cursor: pointer;
}


#Reiniciar {
    padding: 10px;
    border: 2px solid transparent;
    background: rgba(206, 0, 0, 0.56);
    cursor: pointer;
    border-radius: 20px;
}