h1 {
    text-align: center;
    font-size: 120px;
    font-family: 'Bebas Neue', cursive;

    margin: 1px;
}

h2 {

    text-align: center;
}

h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    text-align: center;
    color: #000000;
    margin: 1px;
}

h4 {
    float: left;
    margin: 1px;
    font-size: 20px;
}


.cabecera {
    text-align: center;
    font-size: 9mm;
    margin-left: 1px;
    margin-right: 1px;

}

body {
    font-family: "comic sans ms";
    border: 1px;
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
}

a {
    float: left;
}

b {
    float: left;
}

c {
    float: left;
}

d {
    float: left;
}

e {
    float: left;
}

f {
    float: left;
}

canvas {
    float: right;
}



.mybody{
    background: linear-gradient(150deg, #ffffff, #8e95f3, #d199f6);
    background-size: 400% 300%;
    animation: BgGradient 10s ease infinite
}

@keyframes BgGradient {
    0% {background-position: 0% 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0% 50%}

}

#home {
    background-color: black;
    border-radius: 15px;
}

#home ul{
    list-style: none;
    margin: 0;
    padding: 0;

}
#home ul li{
    display: inline-block;
}

#home ul li a{
    border-radius: 16px;
    color: white;
    text-decoration: none;
    display: block ;
    padding: 10px 50px;
}

#home a:hover{
    background-color: #f30606;
}