h1 {
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;

}

#menu {


}

#menu ul {
    list-style: none;
    margin-top: 0px;
    padding: 0;
}

#menu ul li {
    display: inline-block;
}

#menu ul li a {
    border-radius: 15px;
    background-color: transparent;
    color: #000000;
    display: block;
    padding: 20px 130px;
    text-decoration: none;
}

#menu ul li a:hover {
    color: #ffffff;
    border-radius: 15px;
    background-color: #000000;
}

.item-r {
    float: right;
}

h4 {
    font-size: 45px;
}

h5 {
    font-size: 20px;
}


.cabecera {
    text-align: center;
    font-size: 9mm;
    font-style: italic;


}

body {
    text-align: justify;
    font-size: 20px;
    font-family: "comic sans ms";
    margin-right: 400px;
    margin-left: 400px;
}

#gato-gif {
    float: right;
}

section {
    border: 2px solid #ffffff;
    margin: 10px;
    padding: 5px 30px;
}

.mybody {
    background: linear-gradient(150deg, #eba102, #cd2795, #00c298);
    background-size: 400% 300%;
    animation: BgGradient 10s ease infinite
}

@keyframes BgGradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }

}


#home {
    float: left;
    margin: 1px;
    font-size: 20px;
    position: absolute;
}

#home {
    background-color: transparent;
    border-radius: 15px;
}

#home ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

#home ul li {
    display: inline-block;
}

#home ul li a {
    border-radius: 16px;
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 50px;
}

#home a:hover {
    background-color: #000000;
    color: white;
}