h1{
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;

}

h2{
border: 3px solid black;
    text-align: center;
    margin-left: 430px;
    margin-right: 430px;
    padding: 10px;
    background: #bfbfbf;
    border-radius: 15px;
    box-shadow: 3px 3px rgba(35, 35, 35, 0.33);
}

h3{
    text-align: center;
}
h4{
    font-size: 45px;
}
h5{
    font-size: 20px;
}


.cabecera {
    text-align: center;
    font-size: 9mm;
    font-style: italic;


}
body{
    text-align: justify;
    font-size: 20px;
    font-family: "comic sans ms";
    margin-right:  400px;
    margin-left: 400px;
}
#gato-gif{
    float: right;
}

